---
template: raw
timestamp: 1441718580963
title: <%= CollectionType %>
---
<div>
    {@loop:global.<%= collectionType %>}
    <!--<div class="z-depth-1 padding col-12">-->
    <h4><a href="/<%= directory %>{value.name}">{@startCase:value.name/}</a></h4>

    <div class="collection">
        {@loop:value.files value="file"}
        <a class="collection-item" href="/{file.href}">
            <span class="collection-post-text">{file.meta.title}</span>
            <span class="font-size-85 grey-text">@<span class="timestamp-to-date">{file.meta.timestamp}</span></span>
        </a>
        {/loop}
    </div>
    <!--</div>-->
    {/loop}
</div>